In [568]:
'''
http://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
'''

'\nhttp://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/\n'

In [586]:
test_example = ['1S2D*3T', '1D2S#10S', '1D2S0T', '1S*2T*3S', '1D#2S*3S', 
                '1T2D3D#', '1D2S3T*']

In [587]:
dartResult = test_example[6]

In [588]:
letterSplit = list(dartResult)

In [589]:
result = []

In [590]:
for i in range(len(letterSplit)):
    print(letterSplit[i])
    if letterSplit[i] in ('S','D','T','*','#'):
        print('ok')
        result.append(letterSplit[i])
    else:
        if len(result) == 0:
            result.append(letterSplit[i])
        else:
            if (ord(result[-1]) >= 48) & (ord(result[-1]) <= 57):
                result[-1] = result[-1] + letterSplit[i]
            else:
                result.append(letterSplit[i])

1
D
ok
2
S
ok
3
T
ok
*
ok

In [591]:
result

['1', 'D', '2', 'S', '3', 'T', '*']

In [592]:
result2 = []

In [593]:
for ii in result:
    if ii == 'S':
        result2.append('**1')
    elif ii == 'D':
        result2.append('**2')
    elif ii == 'T':
        result2.append('**3')
    elif ii == '*':
        result2.append('+double')
    elif ii == '#':
        result2.append('*(-1)')
    else:
        result2.append('+'+ii)

In [594]:
result2

['+1', '**2', '+2', '**1', '+3', '**3', '+double']

In [595]:
result3 = ''.join(result2)

In [596]:
result3

'+1**2+2**1+3**3+double'

In [597]:
result4 = result3.split('+')
print(result4)

['', '1**2', '2**1', '3**3', 'double']

In [598]:
result4 = result4[1:]
print(result4)

['1**2', '2**1', '3**3', 'double']

In [599]:
result5 = []

In [600]:
for i in range(len(result4)):
    if result4[i] == 'double':
        if i == 1:
            result5[0] = result5[0]*2
        elif i >= 2:
            result5[-1] = result5[-1]*2
            result5[-2] = result5[-2]*2
        else:
            pass
    else:
        result5.append(eval(result4[i]))

In [601]:
result5

[1, 4, 54]

In [602]:
sum(result5)

59