In [1]:
### 문제 경로

In [2]:
'''
http://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
'''

'\nhttp://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/\n'

In [3]:
str1_list = ['FRANCE', 'handshake', 'aa1+aa2', 'E=M*C^2']
str2_list = ['french', 'shake hands', 'AAAA12', 'e=m*c^2']
answer_list = [16384, 65536, 43690, 65536]

In [4]:
goal = 3

In [5]:
str1 = str1_list[goal]
str2 = str2_list[goal]
answer = answer_list[goal]

In [6]:
str1_list = list(str1)
str2_list = list(str2)

In [7]:
str1_ord = []
str2_ord = []

In [8]:
# list to ascii number

In [9]:
for i in str1_list:
    str1_ord.append(ord(i))
    
for i in str2_list:
    str2_ord.append(ord(i))

In [10]:
str1_ord

[69, 61, 77, 42, 67, 94, 50]

In [11]:
str2_ord

[101, 61, 109, 42, 99, 94, 50]

In [12]:
str1_ord2 = []
str2_ord2 = []

In [13]:
# big to small

In [14]:
for i in str1_ord:
    if (i >= 65) & (i <=90):
        i = chr(i+32)
    else:
        i = chr(i)
    str1_ord2.append(i)
    
for i in str2_ord:
    if (i >= 65) & (i <=90):
        i = chr(i+32)
    else:
        i = chr(i)
    str2_ord2.append(i)

In [15]:
print(str1_ord2)
print(str2_ord2)

['e', '=', 'm', '*', 'c', '^', '2']
['e', '=', 'm', '*', 'c', '^', '2']

In [16]:
list_num = list(range(48, 58))
list_eng = list(range(97, 123))
list_ok = list_eng + list_num

In [17]:
print(list_num)
print(list_eng)
print(list_ok)

[48, 49, 50, 51, 52, 53, 54, 55, 56, 57]
[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]
[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]

In [18]:
# make pair

In [19]:
def abc(str1_ord2):
    list1 = []
    for i in range(len(str1_ord2) - 1):
        i1 = ''
        cnt=0
        if ord(str1_ord2[i]) in list_ok:
            i1+=str1_ord2[i]
            cnt+=1
        if ord(str1_ord2[i+1]) in list_ok:
            i1+=str1_ord2[i+1]
            cnt+=1
        if cnt == 2:
            list1.append(i1)
    return list1

In [20]:
list1 = abc(str1_ord2)
list2 = abc(str2_ord2)

In [21]:
print(list1)
print(list2)
print(list(set(list1).intersection(list2)))

[]
[]
[]

In [22]:
# make union, intersection

In [23]:
if (len(list1)==0) | (len(list2)==0):
    result = 1 * 65536
else:
    list_union = list1 + list2
    set_union = set(list_union)
    intersection = len(list(set(list1).intersection(list2)))
    union = len(set_union)
    result = int((intersection/union)*65536)

In [24]:
print(set_union)
print(list(set(list1).intersection(list2)))

NameError: name 'set_union' is not defined

In [ ]:
print(union)
print(intersection)

In [ ]:
result

In [ ]:
if result == answer:
    print('정답입니다~~')

In [ ]:
# 입출력 3번은 답이 이상함